<div>
  <div style="display: flex; justify-content: space-between; align-items: center">
    <h1> <%= @trip.title %> </h1>
    <div>
    <button onclick="history.back()">Go Back</button>
      <button onclick="window.location.href='/plans/new'" style="height: 21px">
        Add Item
      </button>
    </div>
  
  </div>
  <table style="width:100%;table-layout:fixed">
  <thead style="background-color:lightgray; text-align:left">
    <tr>
      <th class="py-2 pl-4">Title </th>
      <th> Date </th>
    
      <th class="w-20"> </th>
    </tr>
  </thead>
  <tbody>
  <% if @plans.present? %>
  <% @plans.each_with_index do |plan, index| %>
    <% if plan.title.present? %>
    <tr style=<%= index % 2 == 0 && "background-color:lightgray;" %>>
      <td style="padding-left:4"><%= link_to plan.title, plan  %></td>
     
      <td><%= plan.date.present? ? plan.date.strftime(t('date.formats.default')) : '--' %></td>
    </tr>
     <% end %>
  <% end %>
<% end %>
  </tbody>
</table>
</div>
