<div>
  <h1>New Item</h1>
  <form action="/trips" method="post" style="display: inline">
    <input name="title" label="Title" />
    <input type="date" name="date" title="Date" />
    <input name="hotel" title="Hotel" />
    <input type="number"  name="budget" title="budget" />
    <input type="text"  name="hotel" title="Hotel" />
    <button type="submit">Create</button>
    <button onclick="history.back()">Go Back</button>
  </form>
</div>
